{% extends 'first_templates/layouts/baseforms.html' %}
{% load static %}

{% block head_content %}
<title>Home</title>
{% endblock %}


{% block content %}
<div class="container-sm ">
    <div class="row justify-content-md-center ">
        <h2 class="text-center">Home</h2>
        <div class="col-4 shadow mb-5 rounded border border-2 ">

                <div class="text-center">
                    <img src="{% static 'static_images/Black_Instagram_icon.svg' %}" style="width: 130px; height: 130px; " class="rounded-3 mt-2">
                </div>
                
    
                <a href="{% url 'Signin' %}"  class="btn btn-outline-dark">Iniciar sesion aqui</a>
      
        </div>
    
   
    </div>
    
    

</div>
{% endblock %}