{% extends 'second_templates/layouts/base.html' %}


{% block head_content %}
<title>Update account</title>
{% endblock %}

{% block content %}

<div class="container-sm ">
    <div class="row justify-content-md-center ">
        <h2 style="color: white;" class="text-center">Actualiza tu cuenta</h2>
        <div class="col-4 shadow mb-5 rounded border border-2 ">

            <div class="media" >
                <img src="{{user.profile_picture.url}}" class="mr-3 rounded-5 rounded-top-0 border border-5" style="height: 50px; width: 50px;">
                <h4 class="h5" style="color: white;">{{user.username}}</h4>
            </div>



            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}

                

                <div class="text-center mb-2 mt-2" >
                    <button class="btn btn-outline-light" >Terminar edicion</button>
                </div>
            </form>
                
    </div>

    
    
   

    
    

</div>
{% endblock %}