{% extends 'second_templates/layouts/base.html' %}

{% block head_content %}
<title> Resultados de: {{Searched}}</title>
{% endblock %}

{% block content %}

<div class="container">
        
    <div class="row">
        {% for p in Posts %}
        <div class="col-md-6 offset-md-3  mb-3 border border-5 rounded" style="background-color: white;">

            <div class="media mt-5">
                <a href="{% url 'DETAILS' p.from_user.id %}"><img src="{{p.from_user.profile_picture}}" alt="{{p.from_user.username}}" class="mr-3 rounded-5 rounded-top-0 border border-5" style="height: 50px; width: 50px;"></a>
                
                
                <div class="media-body" >
                    <h5 class="mt-0" >{{p.from_user.username}}</h5>
                    {{p.created}}
                </div>
            </div>

            <a href="{% url 'DETAILSPOST' p.pk %}"><img src="{{p.postimg}}" alt="{{p.from_user.username}}" class="img-fluid mt-3 border rounded border border-2 mb-3"  style="height: 20rem; width: 50rem;"></a>
            
            
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}